<a href="https://colab.research.google.com/github/arumlim/eileen/blob/master/06_%E1%84%87%E1%85%A2%E1%84%83%E1%85%A1%E1%86%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 

# 구글 드라이브 경로에서 read하기 위한 경로로 수정합니다.
def chage_google_drive(drive_path):
  result_path = url2='https://drive.google.com/uc?id=' + drive_path.split('/')[-2]
  return result_path

# data의 공유 path를 불러옵니다.
KOSPI_fundamental_path = 'https://drive.google.com/file/d/1-jbeRXYkx-S-AS1-l49gskXLvnh6sZyn/view?usp=sharing'

# 데이터를 read합니다.
KOSPI_fundamental = pd.read_csv(chage_google_drive(KOSPI_fundamental_path))
KOSPI_fundamental.head()

       티커    BPS    PER   PBR   EPS   DIV   DPS  Date
0  095570  28067  13.59  1.16  2391  0.00     0  2016
1  068400  10172  10.53  0.82   791  0.00     0  2016
2  006840  42342   0.00  1.25     0  0.94   500  2016
3  027410  15615  25.98  5.19  3121  1.48  1200  2016
4  138930  22104   4.59  0.39  1890  1.73   150  2016

In [ ]:
import pandas as pd
from datetime import datetime

datelist = pd.date_range('2016-01-01', '2021-10-20', freq ='BY')

- BPS[주당순자산가치 (Book-value per share)]: 주당 순자산가치는 기업의 순자산을 발행 주식수로 나눈 것이
- PER : 주가 / 주당 순이익  (버는 것에 비해 가격이 어떤가?)
- PBR : 주가 / BPS -> 주가 순자산 비율 -> 자산에 비해 주가가 얼마나 비싼가?
    - PBR > 1 : 고평가
    - PBR < 1 : 저평가
- EPS :1주당 이익
- DIV 배당수익률 (Divedend yield ratio) : 주당 배당금 / 현재주가
- DPS (Divedend per share) : 1 주당 배당금

In [ ]:
# 01. 최근 5년간 배당을 한 기업

In [ ]:
corp_df = KOSPI_fundamental.pivot_table(index = 'Date', columns = '티커', values = 'DPS')

In [ ]:
div_count = corp_df.loc['2016':'2020',:].astype(bool).sum(axis=0).sort_values() # 0제외한 배당 횟수 조회

In [ ]:
div_count = div_count.to_frame().rename(columns = {0 : '배당횟수'})

In [ ]:
div_count = div_count[div_count['배당횟수'] == 5] # 5년 연속 배당한 기업

In [ ]:
div_corp_list = div_count.index

In [ ]:
# 02. 배당액을 꾸준하게 상승한 기업

In [ ]:
div_corp_2 = corp_df.loc['2016':'2020',div_corp_list]
div_corp_2

티커    161890  161000  161390  033780  ...  007700  007860  007310   011170
Date                                  ...
2016   200.0   190.0   400.0  3400.0  ...   200.0   150.0  5200.0   2500.0
2017   250.0   300.0   400.0  3600.0  ...   350.0   150.0  6800.0   4000.0
2018   300.0   350.0   400.0  4000.0  ...   650.0   100.0  7000.0  10500.0
2019   330.0   350.0   450.0  4000.0  ...   650.0    50.0  7500.0  10500.0
2020   330.0   350.0   550.0  4400.0  ...  1000.0    50.0  7500.0   6700.0

[5 rows x 522 columns]

In [ ]:
div_ratio = div_corp_2.pct_change() # 전해 대비 배당 증가율
div_ratio

티커    161890    161000    161390  ...    007860    007310    011170
Date                              ...
2016     NaN       NaN       NaN  ...       NaN       NaN       NaN
2017    0.25  0.578947  0.000000  ...  0.000000  0.307692  0.600000
2018    0.20  0.166667  0.000000  ... -0.333333  0.029412  1.625000
2019    0.10  0.000000  0.125000  ... -0.500000  0.071429  0.000000
2020    0.00  0.000000  0.222222  ...  0.000000  0.000000 -0.361905

[5 rows x 522 columns]

In [ ]:
# 매년 배당액이 상승한 기업
div_ratio = div_ratio[div_ratio>0].loc[2017:].dropna(axis = 1)
div_ratio

티커      030610    086790    039490  ...    023590    009450    007340
Date                                ...
2017  0.133333  0.615385  0.214286  ...  0.666667  0.500000  0.400000
2018  0.764706  0.476190  0.529412  ...  0.200000  0.333333  1.000000
2019  0.166667  0.225806  0.153846  ...  0.166667  0.250000  0.428571
2020  0.142857  0.105263  0.333333  ...  0.142857  0.200000  0.500000

[4 rows x 19 columns]

In [ ]:
corp_list_2 = div_ratio.columns.to_list()
corp_list_2

['030610',
 '086790',
 '039490',
 '139130',
 '051905',
 '051900',
 '111770',
 '003230',
 '002150',
 '004250',
 '004255',
 '003540',
 '003545',
 '003547',
 '001067',
 '012510',
 '023590',
 '009450',
 '007340']

In [ ]:
# 03. 주당 순이익 증가율이 큰 순서대로 정렬해보자.

In [ ]:
corp = KOSPI_fundamental[KOSPI_fundamental['티커'].isin(corp_list_2)]
EPS = corp.pivot_table(index = 'Date', columns = '티커', values = 'EPS')
EPS

티커    001067  002150  003230  003540  ...  051905  086790  111770  139130
Date                                  ...
2016       0     538       0    1893  ...       0    3001    2931    1759
2017       0      38    2431    1027  ...       0    4421    2489    1702
2018       0     352    3808    1615  ...       0    6817    2477    1787
2019       0     409    4623    1961  ...       0    7360    2577    2233
2020       0     519    7906    1310  ...       0    7898    3791    1900

[5 rows x 19 columns]

In [ ]:
EPS_pct_change = EPS.pct_change()
EPS_pct_change = EPS_pct_change.loc[2017:,].dropna(axis = 1)
EPS_pct_change[EPS_pct_change >0].dropna(axis = 1)

티커      003230    012510    051900    086790
Date
2017       inf  0.318056  0.234390  0.473176
2018  0.566434  0.422550  0.067660  0.541959
2019  0.214023  0.067407  0.125445  0.079654
2020  0.710145  0.168633  0.139691  0.073098

배당률을 고려 하지 않았지만 나만의 기준으로 종목선정을 했다.

# 코스닥으로 펀더멘탈 데이터를 활용하여 나만의 기준으로 종목을 선정해보자.(최대 5개)

In [ ]:
KOSDAQ_fundamental_path = 'https://drive.google.com/file/d/12egb9-FWIHgqs0BDNUTuLbcURbEK7GGM/view?usp=sharing'
KOSDAQ_fundamental = pd.read_csv(chage_google_drive(KOSDAQ_fundamental_path))
KOSDAQ_fundamental.head()

       티커    BPS    PER   PBR   EPS   DIV  DPS  Date
0  060310    846   0.00  3.55     0  0.00    0  2016
1  054620   4548  72.44  6.56   412  0.00    0  2016
2  211270   3857   9.68  2.27   904  0.00    0  2016
3  032040   2160   0.00  1.22     0  4.73  125  2016
4  130960  40058  50.88  1.79  1409  0.28  200  2016